.tree-container {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 99;
  width: 1024px;
  height: 1024px;
}
.base-img {
  transform-origin: top left;
  filter: brightness(0.5);
  transform: scale(0.5);
}
.full-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
